# General
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
desktop.ini

# Virtual environments
venv/
env/
*.virtualenv

# Visual Studio Code
.vscode
.vs

# Prompt files
audio_temp.wav
audio_prompt.wav

# dotenv environment variables file
.env

#Pyinstaller
build/
dist/
main.spec
icon.ico
config.ini