# General
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
desktop.ini

# Virtual environments
venv/
env/
*.virtualenv

# Visual Studio Code
.vscode
.vs

# Prompt files
audio_prompt.wav
audio_temp.wav

# dotenv environment variables file
.env
Backup.env

#Pyinstaller
build/
dist/
main.spec
config.ini

# Pinecone stuff
python.langchain.com/

# Vector stuff
*.pkl