google-api-python-client==2.84.0
boto3==1.26.114
openai==0.27.4
openai_whisper==20230314
pydub==0.25.1
SpeechRecognition==3.10.0
PyAudio==0.2.13
python-dotenv
git+https://github.com/JonathanFly/bark
pyttsx3
pydantic==1.10.7
langchain==0.0.146
wikipedia
wolframalpha
pyowm
pygame
torchaudio
SoundFile
IPython
pinecone-client
sv_ttk